BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #363636;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

A:link, A:visited {
  color: #339504;
  text-decoration: none;
}

A:hover, A:active {
  color: #0D4000;
  text-decoration: none;
}

H1 {
  color: #0D4000;
}

INPUT {
  display: none;
}

LABEL {
  display: inline-block;
  margin: 0 2%;
  padding: 1em 0 0.5em;
  color: #003366;
  font-weight: 700;
  font-size: 22px;
  line-height: 1em;
  cursor: pointer;
}

LABEL:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

LABEL:last-of-type {
  margin-right: 0;
  padding-right: 0;
}

INPUT:checked + LABEL {
  color: #339504;
  border-bottom: 6px solid #339504;
}

.tab {
  display: none;
  /*font-size: 0.8vw;*/
  font-size: 12px;
  line-height: 2em;
  padding: 3em 0;
}

#na-tab:checked ~ #na-content,
#oc-tab:checked ~ #oc-content,
#eu-tab:checked ~ #eu-content {
  display: block;
}

.tab > DIV {
  display: inline-block;
  width: 22%;
  padding: 0 1%;
  vertical-align: top;
  border: 2px solid #363636;
}

.tab > DIV > DIV {
  float: left;
  width: 50%;
}

.tab .timezone {
  float: none;
  width: 100%;
  font-weight: bold;
  font-size: 125%;
  line-height: 3em;
  border-bottom: 1px solid #363636;
}

.tab .header {
  font-weight: bold;
  border-bottom: 1px solid #363636;
}

.tab .invasion {
  background: #339504;
  color: #FFFFFF;
}

@media only screen and (max-width: 1185px) {
  .tab > DIV {
    width: 30%;
    max-height: 60em;
    overflow: hidden;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 900px) {
  /* Small computer or landscape tablet */
  .tab > DIV {
    width: 45%;
    max-height: 26em;
    overflow: auto;
  }
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .tab > DIV {
    width: 90%;
  }
}